body {
	margin: 0;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 1.6;
	color: #fff;
	
}
h1,h2,h3,h4,h5,h6 {
	margin: 0;
}

hr {
	border: none;
	background: #14a58c;
	height: 4px;
	width: 85px;
	margin-top: 1em;

}

.container {
	max-width: 1100px;
	width: 100%;
	margin: 0 auto;
	text-align: center;

}

/*Header*/
.header {
	width: 100%;
	height: 120px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	padding: 35px 0;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	font-style: 20px;
	font-weight: 700;
	color: #fff;
}

/*Navigation*/

.nav {
	text-transform: uppercase;
	font-size: 16px;
	display: flex;

}

.nav__link {
	margin-left: 35px;
	text-decoration: none;
	color: #fff;
	transition: color .2s linear;
}

.nav__link:hover {
	color: #f7f3f8;
}

/*Intro*/
.intro {
	max-width: 100%;
	height: 596px;
	background: #87509c;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px;


}

.intro__inner {
	width: 100%;
	max-width: 920px;
	margin: 0 auto;

}

.intro__title {
	font-weight: bold;
	font-size: 42px;
	line-height: 1.1;
	text-align: center;
	margin-bottom: 60px;

}

.btn {
	display: inline-block;
	vertical-align: top;
	font-weight: 600;
	text-decoration: none;
	border-radius: 5px;
	transition: background .1s linear;
}

.btn--setting {
	background-color: #eb7d4b;
	box-shadow: inset 0 -3px rgba(0, 0, 0, .2); 
	color: #fff;
	font-size: 18px;
	
	padding: 28px 80px;
	

}
.btn--setting:hover {
	background-color: #de6128;
}

/*Services*/

.services {
	background: #17c2a4;
	max-width: 100%;
	height: 750px;
	margin: 0 auto;
}

.services__title {
	font-weight: bold;
	font-size: 40px;
	line-height: 1.1;
	margin-top: 120px;
}

.con__serv {
	display: flex;
	flex-direction: column;


}
.services__con {
	display: flex;
	margin-top: 75px;
}

.services__item {
	width: 25%;
	display: table;
}

.item__title {
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 50px 0px 15px 0px;


	
}
.services__text {
	font-size: 16px;
	font-weight: 300;

}

.services_icon {
	/*useless mb*/
}	

/*Teams Developers*/

.teams__developers {
	background: #e7f1f8;
	width: 100%;
	height: 970px;
	margin: 0 auto;
}
.teams__title {
	font-weight: 700;
	font-style: 42px;
	text-transform: uppercase;
	padding-top: 120px;
	/*margin: 120px 0 10px 0px;*/
	color: #3c4761;
}
.hr__teams {
	border: none;
	background: #c8d9e5;
	height: 4px;
	width: 88px;
	margin-top: .1em;
}
.teams__title__text {
	color: #3c4761;
	font-size: 18px;
}
.avatar__icon {
	margin-bottom: 20px;
}
.name {
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 700;
	color: #27283d;
}
.position {
	font-size: 16px;
	font-weight: 300;
	color: #30bae7;
	margin-bottom: 10px;
}

.team__text {
	font-size: 16px;
	color: #3c4761;
}

.teams {
	margin-top: 70px;
	display: flex;
}
.human {
	width: 25%;
}

/*Skills*/

.container__skills {
	max-width: 100%;
	height: 656px;
	background: #fff;
	margin: 0 auto;
}
.skills__title {
	font-size: 40px;
	font-weight: 700;
	color: #3c4761;
	text-transform: uppercase;
	padding-top: 115px;
}

.skills__text {
	font-size: 18px;
	color: #3c4761;
}
.hr__skills {
	border: none;
	background: #c8d9e5;
	height: 4px;
	width: 88px;
	margin-top: 5px;
	margin-bottom: 20px;
}

.skills {
	display: flex;
	padding-top: 45px;
}

.statistics {
	width: 25%;
}

.stat__name {
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 700;
	color: #27283d;
	padding-top: 5px;
}


.diagram__web {
  width: 165px;
  height: 165px;
  margin: 1em auto;
  border-radius: 50%;
  background-image: conic-gradient(#30bae7 90%, #dfe8ed 90%);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px/165px;
}

.diagram__web::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  height: 85%;
  background: #fff;
  border-radius: inherit;
}

.p_diagram {
  position: relative;
  z-index: 1;
  font-size: 2em;
  color: #000;
}

.diagram__html {
  width: 165px;
  height: 165px;
  margin: 1em auto;
  border-radius: 50%;
  background-image: conic-gradient(#d74680 75%, #dfe8ed 75%);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px/165px;
}

.diagram__html::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  height: 85%;
  background: #fff;
  border-radius: inherit;
}

.diagram__graphic {
  width: 165px;
  height: 165px;
  margin: 1em auto;
  border-radius: 50%;
  background-image: conic-gradient(#15c7a8 70%, #dfe8ed 70%);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px/165px;
}

.diagram__graphic::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  height: 85%;
  background: #fff;
  border-radius: inherit;
}

.diagram__UI {
  width: 165px;
  height: 165px;
  margin: 1em auto;
  border-radius: 50%;
  background-image: conic-gradient(#eb7d4b 85%, #dfe8ed 85%);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px/165px;
}

.diagram__UI::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  height: 85%;
  background: #fff;
  border-radius: inherit;
}

/*Portfolio*/ 

.portfolio {
	max-width: 100%;
	height: 1428px;
	background: #ffdd99;
}

.portfolio__title {
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
	color: #393939;
	padding-top: 100px;
}

.porfopio__hr {
	border: none;
	background: #e5c37f;
	height: 4px;
	width: 88px;
	margin-top: 5px;
	margin-bottom: 20px;
}
.portfolio__text {
	font-size: 20px;
	color: #393939;
	padding-bottom: 20px;
}

.btn--portfolio {
	background-color: #ebc985;
	color: #393939;
	text-align: center;
	padding: 5px 26px;
	font-size: 18px;


}

.btn--portfolio:hover {
	background-color: #FFF;
}

/*Example*/

.examples {
	display: flex;
	flex-wrap: wrap;
}
.example {
	width: 50%;
}

.photo {
	padding: 60px 0 15px 0px;
	
}

.example__title {
	font-size: 18px;
	text-transform: uppercase;
	color: #393939;
}

.btn--example {
	background-color: #17c2a4;
	color: #fff;
	padding: 16px 32px;
	box-shadow: inset 0 -3px #14a58c;
	font-weight: 600;
	margin: 110px 0;
}

/*Comments*/

.comments__blog {
	max-width: 100%;
	height: 894px;
	background: #d74680;
}

.comments__title {
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	padding-top: 100px;
}
.comments__hr {
	border: none;
	background: #b73c6d;
	height: 4px;
	width: 88px;
	margin-top: .1em;
}

.comments_text {
	font-size: 18px;
	color: #fff;
}
.comments__area {
	display: flex;
	flex-wrap: wrap;
}
.comment {
	width: 50%;
	padding: 70px 0;
}
.comment__img {
	float: left;
}
.review {
	font-size: 21px;
	font-style: italic;
}
.comment__name {
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
}
.comment__job {
	font-size: 18px;
	color: #ffdd99;
}

/*Contact*/
.contact {
	width: 100%;
	height: 820px;
	background: #3c5499;
}

.contact__title {
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
	padding-top: 100px;
}

.hr__contact {
	border: none;
	background: #273a71;
	height: 4px;
	width: 88px;
	margin-top: .1em;
}

.hr__text {
	font-size: 18px;
}

.contact__wrapper {
	width: 860px;
	margin: 0 auto;
	padding-top: 80px;

}

input {
	width: 414px;
	height: 56px;
	font-size: 18px;
	margin-bottom: 27px;
	background-color: #273a71;
	color: #fff;
	border: none;
	border-radius: 5px;	

}

::placeholder {
	color: white;
	padding-left: 25px;
	font-size: 18px;
	font-family: 'Titillium Web', sans-serif;
}
.form__inputs {
	display: flex;
	justify-content: space-between;
}

textarea {
	width: 100%;
	height: 200px;
	background-color: #273a71;
	color: #fff;
	border: none;
	border-radius: 5px;
}

.btn__block {
	display: flex;
	justify-content: center;
	padding-top: 20px;
	
}

input[type=submit] {
	width: 244px;
	height: 70px;
	background-color: #30bae7;
	box-shadow: inset 0 -3px #299ec5; 
	cursor: pointer;

}


/*Footer*/
.footer {
	width: 100%;
	height: 112px;
	background: #344b8e;
	border-top: 1px solid #3c5499;
}

.footer__nav {
	display: flex;
	justify-content: space-evenly;
	line-height: 112px;

}

.footer__link {
	text-decoration: none;
	color: #fff;
	transition:  .2s linear;
	font-size: 24px;
	font-weight: 600;
	
}

.footer__link:hover {
	color: #30bae7;
}